<div class="center-container">
  <mat-card>
    <h2>Criar conta</h2>
    <form (ngSubmit)="create()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="account.nome" name="nome" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="account.cpf" name="cpf" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput type="date" [(ngModel)]="account.dataNascimento" name="dataNascimento" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Limite de saque diário</mat-label>
        <input matInput type="number" [(ngModel)]="account.limiteSaqueDiario" name="limite" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de conta</mat-label>
        <input matInput type="number" [(ngModel)]="account.tipoConta" name="tipoConta" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Criar</button>
    </form>
    <div *ngIf="createdId">Conta criada com ID {{ createdId }}</div>
    <p><a routerLink="/">Voltar</a></p>
  </mat-card>
</div>
